* {
    /* outline: 1px solid red; */
}

body {
    margin: 0;
}

.section {
    display: flex;
    justify-content: center;
}

.container {
    width: 1000px;
    flex: 0 1 auto;
}

.header.section {
    background-color: yellow;
}

.header.container {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    margin: 0;
}

.links {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
}

.intro.container {
    display: flex;
    padding: 128px 16px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 32px;
}

.media-text {
    width: 300px;
    max-width: 400px;
    flex: 1 0 auto;
}

.info.section {
    background-color: yellow;
}

.info.container {
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.card {
    width: 128px;
}

.card-image {
    height: 128px;
    width: 128px;
    background-color: green;;
}

.card-text {
    text-align: center;
}

.quote.container {
    width: 640px;
    padding: 32px 16px;
}

.quote-credit {
    text-align: right;
    font-weight: bold;
}

.action.section {
    background-color: yellow;
}

.action.container {
    display: flex;
    width: 640px;
    padding: 32px;
    margin: 64px;
    flex: 0 1 auto;
    background-color: green;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.footer-text {
    text-align: center;
}

button {
    white-space: nowrap;
}